body {
  background: #f8f9fb;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

.cart-container {
  padding: 40px 80px;
}

.cart-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
  color: #222;
  font-weight: 700;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.08);
  transition: transform 0.2s ease;
}

.cart-item:hover {
  transform: translateY(-4px);
}

.cart-item img {
  height: 100px;
  width: auto;
  border-radius: 10px;
  margin-right: 20px;
}

.item-details {
  flex-grow: 1;
}

.item-details h3 {
  margin: 0 0 5px;
  color: #222;
  font-size: 18px;
}

.price {
  color: #e63946;
  font-weight: 600;
  margin: 5px 0;
}

.quantity input {
  width: 50px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.remove-btn {
  background: #e63946;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s ease;
  text-decoration: none;
  font-weight: 700;
}

.remove-btn:hover {
  background: #b71c1c;
}


.cart-summary {
  margin-top: 40px;
  padding: 20px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.08);
}

.cart-summary h3 {
  margin-bottom: 15px;
  font-size: 20px;
  color: #222;
}

.cart-summary p {
  margin: 8px 0;
  font-size: 16px;
  color: #333;
}

.cart-summary span {
  font-weight: 600;
  color: #000;
}

/* .checkout-btn {
  margin-top: 25px;
  width:100%;
  padding: 8px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(135deg, #3c2b04, #423926);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
  text-decoration: none;

} */

.checkout-btn {
  display: block;     
  width: 100%;          
  padding: 12px;       
  margin-top: 25px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(135deg, #3c2b04, #423926);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
  text-decoration: none;
  text-align: center;  
}

.checkout-btn:hover {
  background: linear-gradient(135deg, #9f946a, #877f61);
}
