:root {
  --bg: #0d1117;
  --card: #161b22;
  --text: #e6edf3;
  --muted: #8b949e;
  --accent: #ffd700;
  --accent-hover: #e6b800;
  --radius: 14px;
  --shadow: 0 6px 18px rgba(0,0,0,0.6);
  font-family: "Poppins", sans-serif;
}

* { box-sizing: border-box; }

body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
}

.table-container {
  max-width: 1000px;
  margin: 60px auto;
  padding: 20px;
  background: var(--card);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 700;
  color: var(--accent);
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: var(--radius);
  overflow: hidden;
}

th, td {
  padding: 14px;
  text-align: left;
  border-bottom: 1px solid #30363d;
}

th {
  background: #21262d;
  color: var(--accent);
  font-size: 15px;
}

tr:hover {
  background: #161b22;
}

td img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid #30363d;
}

.no-data {
  text-align: center;
  padding: 20px;
  color: var(--muted);
  font-size: 15px;
}

a
{
  text-decoration: none;
  font-weight: 700;
  color: #e6edf3;

}

a:hover
{
  color: #e6b800
  ;
}