{% include 'client/header.html' %}
<html>
  {% load static %}
  <head>
    <link rel="stylesheet" href="{% static 'ls.css' %}" type="text/css">
    <title>Login Page</title>
    
  </head>
  <body>
    <div class="login-container">
      <form method="post">
        {% csrf_token %}
        <h2>Login</h2>

        <div class="input-group">
          <label>Email</label>
          <input class="cell" name="email" type="email" required placeholder="Enter your email">
        </div>

        <div class="input-group">
          <label>Password</label>
          <input class="cell" name="pswd" type="password" required placeholder="Enter your password">
        </div>

        <input class="btn" type="submit" value="Login">

        <p class="s_up">
          Don’t have an account? <a href="{% url 'register' %}">Signup Now</a>
        </p>
      </form>
    </div>
   
  </body>
</html>
 {% include 'client/footer.html' %}
